WebApi/Rebtel.UserManagement.Infrastructure/Service References/UserManagementService/UserManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" />
      <xsd:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagement_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AddSubscriptionToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriptionToUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AddSubscriptionToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriptionToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManagement">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/CreateUser" message="tns:IUserManagement_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/CreateUserResponse" message="tns:IUserManagement_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubscriptionToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/AddSubscriptionToUser" message="tns:IUserManagement_AddSubscriptionToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/AddSubscriptionToUserResponse" message="tns:IUserManagement_AddSubscriptionToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/DeleteUser" message="tns:IUserManagement_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/DeleteUserResponse" message="tns:IUserManagement_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/GetUserById" message="tns:IUserManagement_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/GetUserByIdResponse" message="tns:IUserManagement_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/GetUsers" message="tns:IUserManagement_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/GetUsersResponse" message="tns:IUserManagement_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagement" type="tns:IUserManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubscriptionToUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/AddSubscriptionToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagement">
    <wsdl:port name="BasicHttpBinding_IUserManagement" binding="tns:BasicHttpBinding_IUserManagement">
      <soap:address location="http://localhost:51554/UserManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>