WebApi/Rebtel.UserManagement.Infrastructure/Service References/UserManagementService/UserManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" />
  <xs:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" />
  <xs:import schemaLocation="http://localhost:51554/UserManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" minOccurs="0" name="user" nillable="true" type="q1:CreateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="CreateUserResult" nillable="true" type="q2:CreateUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscriptionToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" minOccurs="0" name="addSubcriptionToUser" nillable="true" type="q3:AddSubcriptionToUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscriptionToUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q6:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="GetUsersResult" nillable="true" type="q7:ArrayOfUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>