WebApi/Rebtel.UserManagement.Infrastructure/Service References/SubscriptionManagementService/SubscriptionManagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CreateSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateSubscriptionResponse" nillable="true" type="tns:CreateSubscriptionResponse" />
  <xs:complexType name="SubscriptionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Callminutes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PriceIncVatAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionData" nillable="true" type="tns:SubscriptionData" />
  <xs:complexType name="ArrayOfSubscriptionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionData" nillable="true" type="tns:SubscriptionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionData" nillable="true" type="tns:ArrayOfSubscriptionData" />
</xs:schema>