WebApi/Rebtel.UserManagement.Infrastructure/Service References/SubscriptionManagementService/SubscriptionManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriptionManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" />
      <xsd:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionManagement_CreateSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscription" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_CreateSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_UpdateSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscription" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_UpdateSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_DeleteSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscription" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_DeleteSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_GetSubscriptionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionById" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_GetSubscriptionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_GetSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagement_GetSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionManagement">
    <wsdl:operation name="CreateSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagement/CreateSubscription" message="tns:ISubscriptionManagement_CreateSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagement/CreateSubscriptionResponse" message="tns:ISubscriptionManagement_CreateSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagement/UpdateSubscription" message="tns:ISubscriptionManagement_UpdateSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagement/UpdateSubscriptionResponse" message="tns:ISubscriptionManagement_UpdateSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagement/DeleteSubscription" message="tns:ISubscriptionManagement_DeleteSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagement/DeleteSubscriptionResponse" message="tns:ISubscriptionManagement_DeleteSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagement/GetSubscriptionById" message="tns:ISubscriptionManagement_GetSubscriptionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagement/GetSubscriptionByIdResponse" message="tns:ISubscriptionManagement_GetSubscriptionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagement/GetSubscriptions" message="tns:ISubscriptionManagement_GetSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagement/GetSubscriptionsResponse" message="tns:ISubscriptionManagement_GetSubscriptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionManagement" type="tns:ISubscriptionManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSubscription">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagement/CreateSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubscription">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagement/UpdateSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagement/DeleteSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionById">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagement/GetSubscriptionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptions">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagement/GetSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionManagement">
    <wsdl:port name="BasicHttpBinding_ISubscriptionManagement" binding="tns:BasicHttpBinding_ISubscriptionManagement">
      <soap:address location="http://localhost:51554/SubscriptionManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>