WebApi/Rebtel.UserManagement.Infrastructure/Service References/SubscriptionManagementService/SubscriptionManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" />
  <xs:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" />
  <xs:import schemaLocation="http://localhost:51554/SubscriptionManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" minOccurs="0" name="createSubscription" nillable="true" type="q1:CreateSubcription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="CreateSubscriptionResult" nillable="true" type="q2:CreateSubscriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO" minOccurs="0" name="updateSubscription" nillable="true" type="q3:UpdateSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="subscriptionId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubscriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="subscriptionId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="GetSubscriptionByIdResult" nillable="true" type="q6:SubscriptionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rebtel.UserManagement.Infrastructure.DTO.Response" minOccurs="0" name="GetSubscriptionsResult" nillable="true" type="q7:ArrayOfSubscriptionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>